@import '../styles/variables';

header {
    position: relative;

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 3px;
        background-image: url('../assets/images/color-line.png');
    }
}
