@import './variables';

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $mainfont;
    color: $primary;
}

header {
    nav {
        background-color: $primary;
        color: white;

        ul {
            list-style: none;
            display: flex;
            margin: 0;

            li {
                padding: 1rem;
                a {
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }
}
