@import '../../shared/styles/variables';

.tips-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
}

.tips-form {
    margin: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .name,
    .desc,
    .language {
        flex-grow: 1;
    }

    .desc {
        margin: 0 5rem;
    }

    .content {
        width: 100%;
        margin: 2rem 0;
    }
}
